.back {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
	background: url("../backMap.jpg") no-repeat center center fixed;
		overflow: scroll;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

hr.type_1 {
border: 0;
height: 55px;
background-image: url(type1.png);
background-repeat: no-repeat;
        position: relative;
        width: 768px;
        margin: auto;
}
 
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
body {
    font: 16px/1.4em 'PT Sans', sans-serif;
    color: #1c1c1c;
}

p,ul {
    margin: 0 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}
 
a {
	    color: #1D745A;
}
 
h2 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}
 
.header{
	top: 0;
}
 
article, #home {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}

header {
    background: #1c1c1c;
    padding: 15px 20px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #ff1a1a;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

#del {
	background-color: #ff1a1a;
	color: #ff1a1a;
	float: right;
	padding: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#add {
	background-color: #47d147;
	color: #47d147;
	float: right;
	padding: 8px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.buttonCall {
  	position: absolute;
 	top: 60%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 15px 20px;
    border: 2px solid #9c1a1a;
    border-radius: 15px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#7d1f1f));
    background: -moz-linear-gradient(top, #ff4a4a, #7d1f1f);
    background: linear-gradient(to bottom, #ff4a4a, #7d1f1f);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 25px verdana;
    color: #ffffff;
    text-transform: uppercase
}
.buttonCall:hover {
    border: 2px solid #fa2a2a;
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#7d1f1f));
    background: -moz-linear-gradient(top, #ff5959, #7d1f1f);
    background: linear-gradient(to bottom, #ff5959, #7d1f1f);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.buttonCall:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#7d1f1f));
    background: -moz-linear-gradient(top, #982727, #7d1f1f);
    background: linear-gradient(to bottom, #982727, #7d1f1f);
    text-transform: uppercase
}
.buttonCall:focus {
    text-transform: uppercase
}
.buttonCall:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 24px;
    margin: -10px 0px -10px -6px;
    position: relative;
    top: -8px;
    left: -5px;
    background: url("http://www.cityofkingsville.com/wp-content/uploads/2015/01/caution-152926_640.png?x37926") no-repeat left center transparent;
    background-size: 100% 100%;
}

.buttonMain {
    position: absolute;
  	top: 40%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
    vertical-align: middle;
    padding: 15px 20px;
    border: 2px solid #000000;
    border-radius: 15px;
    background: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#4a4949));
    background: -moz-linear-gradient(top, #ececec, #4a4949);
    background: linear-gradient(to bottom, #ececec, #4a4949);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 25px verdana;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase

}

.buttonMain:hover {
    border: 2px solid #7d7c7c;
    background: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#4a4949));
    background: -moz-linear-gradient(top, #ececec, #4a4949);
    background: linear-gradient(to bottom, #ececec, #4a4949);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.buttonMain:active {
    background: #ccc;
    background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#4a4949));
    background: -moz-linear-gradient(top, #ececec, #4a4949);
    background: linear-gradient(to bottom, #ececec, #4a4949);
    text-transform: uppercase
}
.buttonMain:focus {
    text-transform: uppercase
}

.buttonMain:before{
    content:  "\0000a0";
    display: inline-block;
    height: 50px;
    width: 50px;
    line-height: 24px;
    margin: -10px 0px -10px -6px;
    position: relative;
    top: -8px;
    left: -5px;
    background: url("../ic_launcher.png") no-repeat left center transparent;
    background-size: 100% 100%;
}

@media(max-width: 768px) {
    button.full-width {
        width: 100%;  
    }
}
